In [42]:
import pandas as pd

In [8]:
df = pd.read_excel('app/static/uploads/Book1.xlsx')

In [56]:
df

     Name Grade Course Name  Course Duration  Registration No.  generated
0   asdfg     c         asd                1              5432          1
1  asdfdg     b        fdds                2               543          1
2  b dffs     s          cg                4               432          0
3     mmk     a         ghg                5              1234          0

In [63]:
for i, r in df.iterrows():
    if r['generated'] != 1:
        print(r['Name'])

b dffs
 mmk